{% extends 'base.html.twig' %}

{% block title %}Giallo{% endblock %}

{% block header %}
   
{% endblock %}

{% block body %}
<nav class="navbar navbar-light navbar-expand-lg fixed-top">
		<div class="container">

				<!-- Navbar: Brand -->
				<a class="navbar-brand d-lg-none" href="index.html">
						<img src="assets/img/giallo_caffé.png" class="img-fluid" alt="..." >
				</a>
	
				<!-- Navbar: Toggler -->
				<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button> -->
				
				<!-- Navbar: Collapse -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
	
					<!-- Navbar navigation: Left -->
					<ul class="navbar-nav mr-auto">
						<!--  <li class="nav-item">
							<a class="nav-link" href="about-us.html">About Us</a>
						</li> -->
						<li class="nav-item dropdown">
								<!-- <a class="nav-link" href="http://example.com" id="nav-item__menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Menu
								</a>
							 <a class="nav-link dropdown-toggle" href="http://example.com" id="nav-item__menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Menu
							</a>
							<div class="dropdown-menu" aria-labelledby="nav-item__menu">
								<a class="dropdown-item" href="menu.html">Menu: Standard</a>
								<a class="dropdown-item" href="menu_no-images.html">Menu: No Images</a>
							</div> 
						</li>
						<li class="nav-item">
							<a class="nav-link" href="reservation.html">Reservation</a>
						</li>-->
					</ul>
	
					<!-- Navbar: Brand -->
					<a class="navbar-brand d-none d-lg-flex" href="index.html">
							<img src="assets/img/giallo_caffé.png"  alt="..." >
					</a>
	
					<!-- Navbar navigation: Right -->
					<ul class="navbar-nav ml-auto">
						<!--<li class="nav-item">
							<a class="nav-link" href="news-and-events.html">News & Events</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="gallery.html">Gallery</a>
						</li> 
						<li class="nav-item">
							<a class="nav-link" href="contact-us.html">Contact</a>
						</li>-->
					</ul>
	
				</div> <!-- / .navbar-collapse -->
	
			</div> <!-- / .container -->
		</nav> <!-- / .navbar -->
	

<!-- HEADER
	================================================== -->
	<section class="section section_header" data-parallax="scroll" style='background-image:url(assets/img/37.jpg);min-height: 150px;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;'>
		<div class="container">
			<div class="row">
				<div class="col">
					
					<!-- Heading -->
					<h1 class="section__heading section_header__heading text-center">
						Menu du mois
					</h1>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>
    {% include 'Default/subHeader.html.twig' %} 
    
        {# Sub-navbar : Dashboard #}
        <section class="section section_menu section_border_bottom">
			<div class="container">
				<div class="row">
				</div> <!-- / .row -->
				<div class="row">
					<div class="col">
						
						<!-- Navigation -->
						<nav class="section_menu__nav">
							<ul>
								<li class="active">
									<a href="#menu_no-images" data-filter=".mains">Antipasti</a>
								</li>
								<li>
									<a href="#menu_no-images" data-filter=".lunch">Primi</a>
								</li>
								<li>
									<a href="#menu_no-images" data-filter=".dinner">Secondi</a>
								</li>
								<li>
									<a href="#menu_no-images" data-filter=".drinks">Dolci</a>
								</li>
							</ul>
						</nav>
	
					</div>
				</div>
				<div class="row section_menu__grid" id="menu_no-images">
					
					<div class="col-sm-6 section_menu__grid__item mains">
						<div class="section_menu__item">					
							<div class="row" style='min-height:180px'>
								<div class="col-10" style='text-align: center;'>
									<h5>{{ antipasti.plat1.italien}}</h5>
									<p>
										{{ antipasti.plat1.francais}}	
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€{{ antipasti.plat1.prix}}
									</div>
									<div class="dropdown card-options"> 
											<button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color: #E2DCCB;
											padding: 0;
											background: none;
											border: none;
											cursor: pointer;
											display: flex;
											align-items: center;'>
												<i class="material-icons">more_vert</i>
											</button>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Edit</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item text-danger" href="#antipasti"  data-toggle="modal" class="btn btn-outline-primary" data-target="#antipasti">Change</a>
											</div>
										</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item lunch">
						<div class="section_menu__item">
							<div class="row">
								<div class="col-10">
									<h4>Fusce id ante ut arcu consectetur</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€23
									</div>
									
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item dinner">
						<div class="section_menu__item">
							<div class="row no-gu">
								<div class="col-10">
									<h4>Fusce sed dolor eget tortor</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€16
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item drinks">
						<div class="section_menu__item">
							<div class="row">
								<div class="col-10">
									<h4>Phasellus non elit in dolor</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€10
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item drinks">
						<div class="section_menu__item">
							<div class="row">
								<div class="col-10">
									<h4>In vel odio eu massa semper</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€35
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item dinner">
						<div class="section_menu__item">
							<div class="row no-gu">
								<div class="col-10">
									<h4>Morbi ac est consectetur</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€18
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item lunch">
						<div class="section_menu__item">
							<div class="row">
								<div class="col-10">
									<h4>Lorem ipsum dolor sit amet</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€15
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item mains">
						<div class="section_menu__item">
							<div class="row" style='min-height:180px'>
								<div class="col-10" style='text-align: center;'>
									<h5>{{ antipasti.plat2.italien}}</h5>
									<p>
										{{ antipasti.plat2.francais}}	
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€{{ antipasti.plat2.prix}}
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item mains">
						<div class="section_menu__item">
							<div class="row no-gu" style='min-height:180px'>		
								<div class="col-10" style='text-align: center;'>
									<h5>{{ antipasti.plat3.italien}}</h5>
									<p>
										{{ antipasti.plat3.francais}}	
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€{{ antipasti.plat3.prix}}
									</div>	
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item lunch">
						<div class="section_menu__item">
							<div class="row">
								<div class="col-10">
									<h4>Phasellus non elit in dolor</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€10
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item dinner">
						<div class="section_menu__item">
							<div class="row">
								<div class="col-10">
									<h4>In vel odio eu massa semper</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€35
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item drinks">
						<div class="section_menu__item">
							<div class="row no-gu">
								<div class="col-10">
									<h4>Morbi ac est consectetur</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€18
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item mains">
						<div class="section_menu__item">
							<div class="row" style='min-height:180px'>
								<div class="col-10" style='text-align: center;'>
									<h5>{{ antipasti.plat4.italien}}</h5>
									<p>
										{{ antipasti.plat4.francais}}	
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€{{ antipasti.plat4.prix}}
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item lunch">
						<div class="section_menu__item">
							<div class="row">
								<div class="col-10">
									<h4>Fusce id ante ut arcu consectetur</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€23
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item dinner">
						<div class="section_menu__item">
							<div class="row no-gu">
								<div class="col-10">
									<h4>Fusce sed dolor eget tortor</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€16
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
					<div class="col-sm-6 section_menu__grid__item drinks">
						<div class="section_menu__item">
							<div class="row">
								<div class="col-10">
									<h4>Phasellus non elit in dolor</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium, dolorum mollitia voluptas voluptatem repellat nisi quisquam, illo id molestiae minus nostrum, explicabo. Nostrum nobis alias ullam voluptatum.
									</p>
								</div>
								<div class="col-2">
									<div class="section_menu__item__price text-center">
										€10
									</div>
								</div>
							</div> <!-- / .row -->
						</div>
					</div>
	
				</div> <!-- / .row -->
			</div> <!-- / .container -->
			<!-- / .Modal Antipasti -->
			<div class="modal fade" id="antipasti" tabindex="1" role="dialog" aria-labelledby="antipasti" aria-hidden="true" >
				<div class="modal-dialog modal-dialog-centered modal-dialog-video modal-lg" role="document" >
					<div class="modal-content" style='background-color:white;'>
						<div class="modal-header" style="background-color:white;border-bottom:1px solid #F4F3EF;">
							<h1 class="modal-title text-center" style="padding-right:120px;letter-spacing: 0.1em;">Antipasti alla carta</h1>
							<i class="fas fa-times" data-dismiss="modal" style="color:#0B2E2D;padding-top:10px"></i>
						</div>
						<div class="modal-body" style="color:#0B2E2D;background-color:white" > 
						  <div class="content-list-body justify-content-center" >
							{{ form_start(antipastiForm) }}

							{{ form_row(antipastiForm.plat1) }}
							<br>
							{{ form_row(antipastiForm.plat2) }}
							<br>
							{{ form_row(antipastiForm.plat3) }}
							<br>
							{{ form_row(antipastiForm.plat4) }}
							<br>
						
				 
							{{ form_row(antipastiForm.submit) }}
					   
							
							{{ form_end(antipastiForm) }}
						</div>
					</div>
				</div>
			</div>
		</section>
	

    
        </div>
    </div>
</div>

{% endblock %}


