<!doctype html>
<html lang="en">

    <head>
        
        <title>Le comptoir de la santé</title>
        
        {# meta #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Le comptoir de la santé">
        <meta name="msapplication-config" content="{{ asset('assets/ico/browserconfig.xml')}}">
        <meta name="theme-color" content="#ffffff">

        {% block stylesheets %}

        {# CDN - Font, Icons, .. #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {# Favicon #}
        <link rel="manifest" href="{{ asset('assets/ico/manifest.json')}}">
        <link rel="shortcut icon" href="{{ asset('assets/ico/comptoir-logo.png')}}">

        {# CSS Plugins #}
        <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/lightbox/css/lightbox.min.css')}}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/flickity/flickity.min.css')}}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/carousel/css/owl.carousel.css')}}">
        

        {# CSS Global #}
        <link href="{{ asset('assets/css/theme.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        
        {% endblock %}
    
    </head>


    <body>
        {% block header %}

            {% include 'header.html.twig' %}
           
        {% endblock %}
        
        {% block body %}
        
        {% endblock %}

        {% block footer %}

            {% include 'footer.html.twig' %}
            
	    {% endblock %}
        
        {% block javascripts %}

        {# Google API - maps #}
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC909s23g2XEIj1DCk5bWKvrice8hkbxNM&callback=initMap" type="text/javascript"></script>

        {# JS Global #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

        {# JS Plugins #}
        <script src="{{ asset('assets/plugins/parallax/parallax.min.js')}}"></script>
        <script src="{{ asset('assets/plugins/isotope/lib/imagesloaded.pkgd.min.js')}}"></script>
        <script src="{{ asset('assets/plugins/isotope/isotope.pkgd.min.js')}}"></script>
        <script src="{{ asset('assets/plugins/flickity/flickity.pkgd.min.js')}}"></script>
        <script src="{{ asset('assets/plugins/lightbox/js/lightbox.min.js')}}"></script>
        <script src="{{ asset('assets/plugins/reservation/reservation.js')}}"></script>
        <script src="{{ asset('assets/plugins/alerts/alerts.js')}}"></script>
        <script src="{{ asset('assets/plugins/slider/slider.js')}}"></script>
        <script src="{{ asset('assets/plugins/carousel/js/owl.carousel.js')}}"></script>
        
        {# JS global #}
        <script src="{{ asset('assets/js/theme.js')}}"></script>

        {# JS Custom #}
        <script src="{{ asset('assets/js/custom.js')}}"></script>

        {% endblock %}

    </body>

</html>


